body {
  margin: 0;
  min-block-size: 100vh;
  background-color: var(--background);
  color: var(--forground);

  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  --container-gap : 24px;

  list-style : none;
  display: flex;
  gap: var(--container-gap);
}
